        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            background-image: url('./fondo_peli.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        .container {
            height: 100vh;
        }
        
        .container2 {
            height: 100vh;
            display: flex;
            align-items: flex-start;
            gap: 40px;
            max-width: 400px;
            align-self: flex-start;
        }
        
        .movie_card {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            background-color: aliceblue;
            width: 40vw;
            height: 50vh;
            border-radius: 20px;
            margin-left: 50px;
            margin-top: 30px;
            background: rgba( 2, 10, 21, 0.2);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
            backdrop-filter: blur( 0px);
            -webkit-backdrop-filter: blur( 0px);
            border-radius: 10px;
        }
        
        .img_container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 90%;
            border-radius: 6px;
        }
        
        .movie_img {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            height: 60%;
            width: 100%;
            background: rgba( 8, 65, 171, 0.25);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
            backdrop-filter: blur( 18px);
            -webkit-backdrop-filter: blur( 18px);
        }
        
        .img {
            border-radius: 6px;
            height: 90%;
            width: 90%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .movie_info {
            position: relative;
            height: 40%;
            width: 100%;
        }
        
        .barra_anio {
            z-index: -1;
            position: absolute;
            right: -16px;
            width: 380px;
            height: 38px;
            border-radius: 10px;
            background: rgba( 140, 187, 250, 0.65);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
            backdrop-filter: blur( 11px);
            -webkit-backdrop-filter: blur( 11px);
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18);
        }
        
        .titulo {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .h2_info {
            margin-top: 18px;
        }